<!DOCTYPE html>
<html>
  <head>
	<title>Shorten Your Url!</title>
	<link rel="stylesheet" type="text/css" href="css/application.css">
  </head>
  <body>

	<img src="http://funnelsite.com/wp-content/uploads/2015/07/35-Bitly.jpg"/>
	<h1>Try me!</h1>
	<%= yield %>
	
	</body>
</html>